<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- db properties -->
	<properties resource="mybatis/db.properties">
	</properties>

	<environments default="production">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.gfan.game.promotion.factory.DruidDataSourceFactory">
				<!-- 基本属性 url、user、password -->
				<property name="driverClassName" value="${jdbc_driverClassName}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="50" />
				<property name="minIdle" value="30" />
				<property name="maxActive" value="100" />
				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="60000" />
				<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
				<property name="timeBetweenEvictionRunsMillis" value="60000" />
				<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
				<property name="minEvictableIdleTimeMillis" value="300000" />
				<property name="validationQuery" value="SELECT 'x'" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
				<property name="poolPreparedStatements" value="true" />
				<property name="maxPoolPreparedStatementPerConnectionSize"
					value="20" />
			</dataSource>
		</environment>
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="com.gfan.game.promotion.factory.DruidDataSourceFactory">
				<!-- 基本属性 url、user、password -->
				<property name="driverClassName" value="${jdbc_driverClassName}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="50" />
				<property name="minIdle" value="30" />
				<property name="maxActive" value="100" />
				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="60000" />
				<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
				<property name="timeBetweenEvictionRunsMillis" value="60000" />
				<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
				<property name="minEvictableIdleTimeMillis" value="300000" />
				<property name="validationQuery" value="SELECT 'x'" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
				<property name="poolPreparedStatements" value="true" />
				<property name="maxPoolPreparedStatementPerConnectionSize"
					value="20" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/mapper/GameDataPoMapper.xml" />
		<mapper resource="mybatis/mapper/ChannelPOMapper.xml" />
	</mappers>
</configuration>