<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>XIAOMI Game Promotion</display-name>
	
	<context-param>
		<param-name>classNameContainsSingletonInitAnnotation</param-name>
		<param-value>
			com.gfan.game.promotion.service.QueryDataService,
			com.gfan.game.promotion.service.ModifyDataService,
			com.gfan.game.promotion.service.ChannelService,
			com.gfan.game.promotion.service.SearchService
		</param-value>
		<description>this classes(only xxService) need to process SingletonInit annotation</description>
	</context-param>
	
	<!-- encode filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.gfan.game.promotion.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoder</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 初始化bean listener -->
	<listener>
		<listener-class>com.gfan.game.promotion.listener.WebApplicationListener</listener-class>
	</listener>

	<!-- fetchData servlet -->
	<servlet>
		<servlet-name>showGameDataServlet</servlet-name>
		<servlet-class>com.gfan.game.promotion.servlets.FetchDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showGameDataServlet</servlet-name>
		<url-pattern>/fetchData.html</url-pattern>
	</servlet-mapping>
	
	<!-- dispatcher servelt  -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>com.gfan.game.promotion.servlets.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/promotion.html</url-pattern>
	</servlet-mapping>
	
	<!-- init servelt  -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>com.gfan.game.promotion.servlets.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<welcome-file-list>
		<welcome-file>promotion.html</welcome-file>
	</welcome-file-list>
</web-app>
